@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */

  --breakpoint-xs: 320px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  /* Font Families */
  --font-sans: var(--font-lev-sans), sans-serif;
  --font-serif: var(--font-lev-serif), Georgia, serif;


  /* Font Sizes */
  /* 12px */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.4;

  /* 14px */
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.4;

  /* 16px */
  --text-base: 1rem;
  --text-base--line-height: 1.4;

  /* 18px */
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.4;

  /* 22px */
  --text-xl: 1.375rem;
  --text-xl--line-height: 1.3;

  /* 26px */
  --text-2xl: 1.625rem;
  --text-2xl--line-height: 1;

  /* 32px */
  --text-3xl: 2rem;
  --text-3xl--line-height: 1;

  /* 50px */
  --text-4xl: 3.125rem;
  --text-4xl--line-height: 1.04;

  /* 70px */
  --text-5xl: 4.375rem;
  --text-5xl--line-height: 1;


  --default-transition-duration: 250ms;
}


/* Grid Utilities */
@utility lev-grid {
  @apply grid grid-cols-12 py-4 px-4 sm:px-16 gap-x-5 max-w-1680 lg:m-auto;
}
@utility lev-subgrid {
  @apply grid grid-cols-subgrid;
}



/* Typography Utilities */

/* Heading 00 */
@utility lev-heading-2xl {
  @apply font-serif font-semibold text-5xl -ml-[.05em] tracking-[-.01em];
}
/* Heading 01 */
@utility lev-heading-xl {
  @apply font-serif font-bold text-4xl -ml-[.05em];
}
/* Heading 02 */
@utility lev-heading-lg {
  @apply font-semibold text-3xl -ml-[.04em];
}
/* Heading 03 */
@utility lev-heading-md {
  @apply font-medium text-xl -ml-[.03em];
}

@utility lev-text-lg {
  @apply text-xl -ml-[.03em];
}
@utility lev-text-md {
  @apply text-lg;
}
@utility lev-text-sm {
  @apply text-base;
}
