@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* TO BE DELETED */
@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Breakpoints */ 
  --breakpoint-xs: 320px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

  /* Colors */
  /* Blue */
  --color-blue-100: #C7E8FF;
  --color-blue-200: #5CBCFF; /* Tweaked */
  --color-blue-300: #75BAFF;
  --color-blue-500: #2170F0;
  --color-blue-700: #100E62;  /* #121A63; */

  /* Gray (warm gray) */
  --color-gray-50: #F2EFED;
  --color-gray-100: #E6E6E1;
  --color-gray-300: #AAAAA5;
  --color-gray-500: #82827D;
  --color-gray-700: #5A5A55;
  --color-gray-800: #444444;

 /* Violet */
  --color-violet-100: #C7BDFC;
  --color-violet-300: #AA8CFC;
  --color-violet-500: #865CFC;
  --color-violet-700: #5300A9;

  /* Pink */
  --color-pink-100: #FFCFDB;
  --color-pink-300: #FA94D9;
  --color-pink-500: #FF00C9;
  --color-pink-700: #8F0373;

  /* Orange */
  --color-orange-100: #FFE08C;
  --color-orange-200: #FFE17A;
  --color-orange-300: #FAAD17;
  --color-orange-500: #FF5400;
  --color-orange-700: #94401C;

  /* Green */
  --color-green-100: #EDFF8C;
  --color-green-300: #C2F000;
  --color-green-500: #32BE00;
  --color-green-700: #006E0A;

  /* Turquoise */
  --color-turquoise-100: #D6F5FF;
  --color-turquoise-300: #75E3FF;
  --color-turquoise-500: #00A1C7;
  --color-turquoise-700: #006170;


  /* Font Families */
  --font-sans: var(--font-lev-sans), sans-serif;
  --font-serif: var(--font-lev-serif), Georgia, serif;

  /* Font Sizes */
  /* 12px */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.4;

  /* 14px */
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.4;

  /* 16px */
  --text-base: 1rem;
  --text-base--line-height: 1.4;

  /* 18px */
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.4;

  /* 22px */
  --text-xl: 1.375rem;
  --text-xl--line-height: 1.3;

  /* 26px */
  --text-2xl: 1.625rem;
  --text-2xl--line-height: 1;

  /* 32px */
  --text-3xl: 2rem;
  --text-3xl--line-height: 1;

  /* 50px */
  --text-4xl: 3.125rem;
  --text-4xl--line-height: 1.04;

  /* 70px */
  --text-5xl: 4.375rem;
  --text-5xl--line-height: 1;


  --default-transition-duration: 250ms;
}


/* Grid Utilities */
@utility lev-grid {
  @apply grid grid-cols-12 py-4 px-4 sm:px-16 gap-x-5 max-w-1680 lg:m-auto;
}
@utility lev-subgrid {
  @apply grid grid-cols-subgrid;
}


/* Typography Utilities */
/* Heading 00 */
@utility lev-heading-2xl {
  @apply font-serif font-semibold text-5xl -ml-[.05em] tracking-[-.01em];
}
/* Heading 01 */
@utility lev-heading-xl {
  @apply font-serif font-bold text-4xl -ml-[.05em];
}
/* Heading 02 */
@utility lev-heading-lg {
  @apply font-semibold text-3xl -ml-[.04em];
}
/* Heading 03 */
@utility lev-heading-md {
  @apply font-medium text-xl -ml-[.03em];
}

@utility lev-text-lg {
  @apply text-xl font-normal -ml-[.03em];
}
@utility lev-text-md {
  @apply text-lg font-normal;
}
@utility lev-text-sm {
  @apply text-base font-normal;
}
